{% extends 'gwatch/base.html.twig' %}

{% block title %}GWATCH - Home{% endblock %}

{% block body %}
    <div style="text-align: center; padding: 60px 0;">
        <div style="margin-bottom: 20px;">
            <div class="logo" style="font-size: 72px; font-family: Arial, sans-serif; font-weight: bold;">
                <span style="color: #4285f4;">G</span><span style="color: #ea4335;">W</span><span style="color: #fbbc05;">A</span><span style="color: #4285f4;">T</span><span style="color: #34a853;">C</span><span style="color: #ea4335;">H</span>
            </div>
        </div>
        <p style="font-size: 18px; color: #666; font-family: Georgia, serif;">
            Genome-Wide Association Tracks Chromosome Highway
        </p>
    </div>
{% endblock %} 