{% extends 'gwatch/base.html.twig' %}

{% block title %}SONGBIRD - Home{% endblock %}

{% block body %}
    <div style="text-align: center; padding: 60px 0;">
        <div style="margin-bottom: 20px;">
            <div class="logo" style="font-size: 72px; font-family: Arial, sans-serif; font-weight: bold;">
                <span style="color: #F29C9C;">S</span><span style="color: #FCEB9F;">O</span><span style="color: #D9F2D9;">N</span><span style="color: #9CD9D9;">G</span><span style="color: #F29C9C;">B</span><span style="color: #FCEB9F;">I</span><span style="color: #D9F2D9;">R</span><span style="color: #9CD9D9;">D</span>
            </div>
        </div>
        <p style="font-size: 18px; color: #666; font-family: Georgia, serif;">
            Genome-Wide Association Tracks Chromosome Highway
        </p>
    </div>
{% endblock %} 