{% extends 'gwatch/base.html.twig' %}

{% block title %}{{ moduleId }} - Highway Browser{% endblock %}

{% block body %}
    <div class="module-card">
        <h3>{{ moduleId }} - HIV_Infection/Botswana/MAonly/notimputed/430/females</h3>
    </div>
    
    <div class="module-card">
        <h3>Highway browser</h3>
    </div>
    
    <ul class="chromosome-list">
        {% for chromosome in chromosomes %}
            <li>{{ chromosome }} chromosome</li>
        {% endfor %}
    </ul>
{% endblock %} 