{% extends 'gwatch/base.html.twig' %}

{% block title %}{{ moduleId }} - Report{% endblock %}

{% block body %}
    <div class="module-card">
        <h3>{{ moduleId }} - HIV_Infection/Botswana/MAonly/notimputed/430/females</h3>
    </div>
    
    <div style="margin-top: 30px;">
        <h3>Type of report</h3>
        <div class="form-group">
            <select>
                <option {% if reportType == 'P-value' %}selected{% endif %}>P-value</option>
                <option {% if reportType == 'QAS' %}selected{% endif %}>QAS</option>
                <option {% if reportType == 'MAF' %}selected{% endif %}>MAF</option>
            </select>
        </div>
        
        <h3>Window size</h3>
        <div class="form-group">
            <select>
                <option {% if windowSize == '+/- 50000 (pos)' %}selected{% endif %}>+/- 50000 (pos)</option>
                <option {% if windowSize == '+/- 100000 (pos)' %}selected{% endif %}>+/- 100000 (pos)</option>
                <option {% if windowSize == '+/- 250000 (pos)' %}selected{% endif %}>+/- 250000 (pos)</option>
            </select>
        </div>
        
        <div class="form-group">
            <label>
                <input type="checkbox" {% if getCsv %}checked{% endif %}> Get .csv file
            </label>
        </div>
        
        <button class="btn">Get report</button>
    </div>
{% endblock %} 