{% extends 'gwatch/base.html.twig' %}

{% block title %}Tutorial{% endblock %}

{% block body %}
    <h1 class="section-title">Tutorial</h1>
    
    <div class="video-container" style="text-align: center;">
        <iframe width="560" height="315" src="//www.youtube.com/embed/fIeOnZ-WLzo" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %} 